html {
  font-size: 62.5%;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.block {
  padding: 4rem;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
}

h1, h2, h3 {
  line-height: 1.3;
  margin: 0;
}

h1, h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.badge {
  color: #fff;
  background: rgba(255, 255, 255, 0.1490196078);
  border-radius: 8px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  padding: 5px 10px;
  text-transform: uppercase;
  line-height: normal;
}
.badge:hover {
  cursor: pointer;
}

.post {
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.post .post__heading {
  color: #fff;
  margin-top: 3rem;
  margin-bottom: 1.3rem;
}
.post .post__content {
  color: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.post hr {
  height: 30px;
  width: 1px;
  border: none;
  transform: rotate(90deg);
  background-color: red;
}
.post svg {
  width: 30px;
  height: 1px;
  stroke: #fff;
}
.post .hr {
  margin: 2.5rem 0 1.5rem;
}
.post .post__description {
  max-width: 45rem;
}
.post p {
  margin: 0;
}

.hero, .big-post {
  background: #495057;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  background: rgba(0, 0, 0, 0.2);
  height: 80px;
}

.nav__content {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  height: 80px;
}

.nav__brand {
  margin-right: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  white-space: nowrap;
}

.list--inline {
  display: flex;
}
.list--inline .list__item {
  padding-right: 2.5rem;
  display: flex;
  align-items: center;
}

.nav__list, .socials__list {
  border-right: 1px solid #E5E5E5;
  padding: 0 1.7rem;
  height: 2rem;
}

.socials__list .socials__item {
  padding-right: 1.8rem;
}
.socials__list .socials__item:last-of-type {
  padding: 0;
}

.nav__item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: normal;
}
.nav__item:last-of-type {
  padding: 0;
}
.nav__item a {
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
}
.nav__item a:hover {
  padding-top: 0.8rem;
  border-bottom: 2px solid #D4A373;
}

.icon {
  font-size: 17px;
  color: #E5E5E5;
  cursor: pointer;
}

.icon:hover {
  color: #D4A373;
}

.search-bar {
  padding-left: 1.7rem;
}

.nav__bar {
  display: flex;
  align-items: center;
}

.slider {
  padding-top: 20rem;
  padding-bottom: 14rem;
}

.post--slider {
  margin: 0;
  text-align: left;
  align-items: flex-start;
}
.post--slider .post__content {
  flex-direction: row;
  align-items: flex-start;
}
.post--slider .post__content .hr {
  margin: 1rem;
}
.post--slider .post__heading {
  margin: 1.5rem 0;
}

.popular {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.categories__list {
  font-weight: 700;
  margin: 3rem 0;
}
.categories__list .list__item {
  padding-right: 2rem;
}
.categories__list .list__item:last-of-type {
  padding: 0;
  margin-left: auto;
}
.categories__list .list__item:hover {
  cursor: pointer;
  color: #D4A373;
}

.topics {
  margin-top: 3rem;
  display: flex;
  gap: 4rem 2rem;
  flex-wrap: wrap;
}

.card {
  width: 31rem;
  background-color: #fff;
  overflow: hidden;
  border-radius: 5px;
  z-index: 1;
}

.card__header {
  position: relative;
  width: 31rem;
  height: 28rem;
  text-align: right;
  overflow: hidden;
}
.card__header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__body {
  padding: 2rem;
}

.card__content {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 2rem;
}
.card__content .card__date, .card__content .card__description {
  color: #6C757D;
}
.card__content .card__date {
  margin: 0;
}
.card__content .card__heading {
  font-size: 1.8rem;
  margin: 1.5rem 0;
  height: 4.7rem;
  overflow: hidden;
}
.card__content .card__description {
  height: 6rem;
  overflow: hidden;
  margin: 0;
}

.card__author {
  padding-top: 2rem;
  display: flex;
}

.author__image {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.author__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.author__credentials {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  justify-content: center;
  overflow: hidden;
}
.author__credentials .author__name {
  font-weight: 700;
  margin: 0;
}
.author__credentials .author__occupation, .author__credentials .author__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.author__credentials .author__occupation {
  color: #6C757D;
}

.big-post {
  background-image: url("../images/post.png");
}
.big-post .big-post__content {
  padding: 17.7rem 0;
}

.editors-pick {
  padding-top: 15rem;
  padding-bottom: 15rem;
}
.editors-pick .editors-pick__heading {
  margin: 0 0 7rem;
}
.editors-pick__blogs {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.blog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 42rem;
  max-height: 35rem;
}
.blog img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog__tags, .card__header .card__tags {
  margin: 2rem 2rem 0 auto;
}
.blog__tags .badge, .card__header .card__tags .badge {
  margin-left: 1rem;
}
.blog p {
  margin: 0;
}
.blog__body {
  padding: 11rem 4rem 4rem;
}
.blog__date, .blog__description {
  color: #E5E5E5;
}
.blog__heading {
  color: #fff;
  margin: 1.5rem 0;
  height: 4.7rem;
  overflow: hidden;
}
.blog__description {
  height: 6.1rem;
  overflow: hidden;
}

.block-footer {
  background-color: #212529;
}

.footer {
  display: flex;
  color: #fff;
  padding-top: 10.6rem;
  padding-bottom: 10.6rem;
  line-height: normal;
}
.footer .footer__item {
  flex: 1;
}
.footer address {
  font-style: normal;
}
.footer .list {
  margin: 1.6rem 0 0 0;
}
.footer .list, .footer .list a {
  color: #E5E5E5;
}
.footer .list .list__item {
  margin-bottom: 1.8rem;
}
.footer .list .list__item:last-of-type {
  margin: 0;
}
.footer .list .list__item a:hover {
  color: #D4A373;
}
.footer .list .office__address {
  line-height: 2rem;
}
.footer .socials__list {
  padding: 0;
  border: 0;
}
.footer .socials__list .socials__item {
  margin: 0;
}

.block-sub-footer {
  background-color: #343A40;
}

.sub-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 4.1rem;
  padding-bottom: 4.1rem;
  color: #E5E5E5;
  font-size: 1.4rem;
}
.sub-footer * {
  margin: 0;
}
.sub-footer .sub-footer__brand {
  font-weight: 500;
}
.sub-footer .sub-footer__callout {
  letter-spacing: 0.6;
}

body {
  color: #495057;
  background-color: #F8F9FA;
  font-family: "Lora", serif;
  font-size: 1.2rem;
  line-height: 2rem;
}

::-moz-selection {
  background: #495057;
  color: #fff;
}

::selection {
  background: #495057;
  color: #fff;
}/*# sourceMappingURL=main.css.map */