@import 'abstracts/variables';
@import 'base/config';
@import 'components/badge';
@import 'components/post';
@import 'layout/hero';
@import 'layout/popular';
@import 'components/card';
@import 'components/big-post';
@import 'layout/editors-pick';
@import 'components/blog';
@import 'layout/footer';

body{
    color: $primary-dark-color;
    background-color: $main-bg-color;
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    line-height: 2rem;
}

::selection{
    background: $primary-dark-color;
    color: #fff;
}
