.editors-pick{
    padding-top: 15rem;
    padding-bottom: 15rem;

    .editors-pick__heading{
        margin: 0 0 7rem;
    }

    &__blogs{
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
    }
}