.block-footer{
    background-color: $footer-bg-color;
}

.footer{
    display: flex;
    color: $primary-light-color;
    
    padding-top: 10.6rem;
    padding-bottom: 10.6rem;
    line-height: normal;

    .footer__item{
        flex: 1;
    }

    address{
        font-style: normal;
    }

    .list{
        &, a{
            color: $secondary-light-color;
        }

        margin: 1.6rem 0 0 0;
        
        .list__item{
            margin-bottom: 1.8rem;

            &:last-of-type{
                margin: 0;
            }

            a:hover{
                color: $primary-hover-color;
            }
        }
        
        .office__address{
            line-height: 2rem;
        }

    }

    .socials__list{
        padding: 0;
        border: 0;
        
        .socials__item{
            margin: 0;
        }
    }

}

.block-sub-footer{
    background-color: $subfooter-bg-color;
}

.sub-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 4.1rem;
    padding-bottom: 4.1rem;
    color: $secondary-light-color;
    font-size: 1.4rem;

    *{
        margin: 0;
    }

    .sub-footer__brand{
        font-weight: 500;
    }

    .sub-footer__callout{
        letter-spacing: 0.6;
    }
}