// Navbar
.hero{
    background: $primary-dark-color;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    background: $nav-bar-bg-color;
    height: 80px;
}

.nav__content{
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    height: 80px;
}

.nav__brand{
    margin-right: auto;
}

.list{
    list-style: none;
    padding-left: 0;
    white-space: nowrap;
}

.list--inline{
    display: flex;
    
    .list__item{
        padding-right: 2.5rem;
        display: flex;
        align-items: center;
    }
}

.nav__list{
    border-right: 1px solid #E5E5E5;
    padding: 0 1.7rem;
    height: 2rem;
}

.socials__list{
    @extend .nav__list;

    .socials__item{
        padding-right: 1.8rem;
    
        &:last-of-type{
            padding: 0;
        }
    }
}

.nav__item{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: normal;
    

    &:last-of-type{
        padding: 0;
    }

    a{
        padding-bottom: 0.6rem;
        padding-top: 0.6rem;
        
        &:hover{
            padding-top: 0.8rem;
            border-bottom: 2px solid $primary-hover-color;
        }
    }
}

.icon{
    font-size: 17px;
    color: $secondary-light-color;
    cursor: pointer;
}

.icon:hover{
    color: $primary-hover-color;
}

.search-bar{
    padding-left: 1.7rem;
}

.nav__bar{
    display: flex;
    align-items:center;
}

.slider{
    padding-top: 20rem;
    padding-bottom: 14rem;
}

// Slide Post
.post--slider{
    margin: 0;
    text-align: left;
    align-items: flex-start;

    .post__content{
        flex-direction: row;
        align-items: flex-start;

        .hr{
            margin: 1rem;
        }
    }

    .post__heading{
        margin: 1.5rem 0;
    }
}