.popular{
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.categories__list{
    font-weight: 700;
    margin: 3rem 0;

    .list__item{
        padding-right: 2rem;
        &:last-of-type{
            padding: 0;
            margin-left: auto;
        }

        &:hover{
            cursor: pointer;
            color: $primary-hover-color;
        }
    }

}

// Topics
.topics{
    margin-top: 3rem;
    display: flex;
    gap: 4rem 2rem;
    flex-wrap: wrap;
}