.badge{
    color: $primary-light-color;
    background: $badge-color;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
    text-transform: uppercase;
    line-height: normal;
    
    &:hover{
        cursor: pointer;
    }
}