.blog{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 42rem;
    max-height: 35rem;

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__tags{
        margin: 2rem 2rem 0 auto;
        
        .badge{
            margin-left: 1rem;
        }
    }

    p{
        margin: 0;
    }

    &__body{
        padding: 11rem 4rem 4rem;
    }   

    &__date, &__description{
        color: $secondary-light-color;
    }

    &__heading{
        color: $primary-light-color;
        margin: 1.5rem 0;
        height: 4.7rem;
        overflow: hidden;
    }

    &__description{
        height: 6.1rem;
        overflow: hidden;
    }
}