.card{
    width: 31rem;
    background-color: $primary-light-color;
    overflow: hidden;
    border-radius: 5px;
    z-index: 1;
}

.card__header{
    position: relative;
    width: 31rem;
    height: 28rem;
    text-align: right;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
      }

    .card__tags{
        @extend .blog__tags;
    }
}

.card__body{
    padding: 2rem;
}

.card__content{
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 2rem;

    .card__date, .card__description{
        color: $secondary-dark-color;
    }

    .card__date{
        margin:0;
    }

    .card__heading{
        font-size: 1.8rem;
        margin: 1.5rem 0;
        height: 4.7rem;
        overflow: hidden;
    }

    .card__description{
        height: 6rem;
        overflow: hidden;
        margin: 0;
    }
}

.card__author{
    padding-top: 2rem;
    display: flex;
}

.author__image{
    width: 5rem; 
    height: 5rem;
    border-radius: 100%;
    overflow: hidden;
    flex-shrink: 0;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.author__credentials{
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    justify-content: center;
    overflow: hidden;

    .author__name{
        font-weight: 700;
        margin: 0;
    }

    .author__occupation, .author__name{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .author__occupation{
        color: $secondary-dark-color;
    }
}