.post{
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    text-align: center;

    .post__heading{
        color: $primary-light-color;
        margin-top: 3rem;
        margin-bottom: 1.3rem;
    }

    .post__content{
        color: $secondary-light-color;
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
    }

    hr{
        height: 30px;
        width: 1px;
        border: none;
        transform: rotate(90deg);
        background-color: red;
    }

    svg{
        width: 30px;
        height: 1px;
        stroke: $primary-light-color;
    }

    .hr{
        margin: 2.5rem 0 1.5rem;
    }

    .post__description{
        max-width: 45rem;
    }

    p{
        margin: 0;
    }
}
