html{
    font-size: 62.5%;
}

*, *::after, *::before{
    box-sizing: border-box;
}

.block{
    padding: 4rem;
}

.container{
    max-width: 1380px;
    margin: 0 auto;
}

h1, h2, h3{
    line-height: 1.3;
    margin: 0;
}

h1, h2{
    font-size: 3.6rem;
}

h3{
    font-size: 1.8rem;
}

a{
    text-decoration: none;
    color: #fff;
}