$primary-dark-color: #495057;
$secondary-dark-color: #6C757D;

$primary-light-color: #fff;
$secondary-light-color: #E5E5E5;

$main-bg-color: #F8F9FA;
$nav-bar-bg-color:#00000033;

$badge-color: #FFFFFF26;

$primary-hover-color: #D4A373;

$footer-bg-color: #212529;
$subfooter-bg-color: #343A40;